*{
  font-family: 'Nunito', sans-serif;
}
body {
  background-color: #fafafa;
  background-image: url("../resimler/sss\ -\ Kopya.jpg");
}
.nav-item {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-link {
	color: black;
	border-bottom: solid 3px #f1f1f1;
}

.nav-link:hover {
	color: black;
	border-bottom: 3px solid #02b9d9;
	transition: all 0.25s ease-out;
}

#logo_img {
	position: absolute;
	top: 15;
	left: 10;
	margin: 0;
}
#headerH1 {
  visibility: visible;
  color: #f1f1f1;
  text-align: center;
  margin-top: 40px;
}

@media only screen and (min-width: 1360px) {
  #headerH1{
    font-size: 64px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1360px) {
  #headerH1{
    font-size: 48px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 720px) {
  #headerH1{
    font-size: 32px;
  }
}

@media only screen and (min-width: 1360px) {

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 30;
  color: #02b9d9;
}
#sss_image img{
  width: 100%;
  height:35%;
  margin-top: -15px;
}
#sss_image h2 {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 70px;
  margin-top: -130px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*BUTTON*/
.sss_yardım input{
  margin-top: 20px;
  border-radius: 25px;
  width: 60%;
  height: 5%;
  margin-left: 280px;
  font-family: 'Nunito',sans-serif;
  font-size: 20px;
}
.sss_yardım input:hover{
  background-color: gainsboro;
}

	
}

@media only screen and (min-width: 960px) and (max-width: 1359px) {
	

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 30;
  color: #02b9d9;
}
#sss_image {
  z-index: -1;
  opacity: 0.5;
}
#sss_image img{
  width: 100%;
  height:35%;
  margin-top: -15px;
}
#sss_image h2 {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 70px;
  margin-top: -130px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*BUTTON*/
.sss_yardım input{
  margin-top: 50px;
  border-radius: 25px;
  width: 50%;
  height: 40px;
  font-family: 'Nunito',sans-serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sss_yardım input:hover{
  background-color: gainsboro;
}
/*SSS ACORDİON PANEL*/
#accordion_dis{
  width: 80%;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Nunito";
}
.active, .accordion:hover {
  background-color: gainsboro;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  text-align: center;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow:auto;
  transition: max-height 0.2s ease-out;
  font-family: "Nunito",sans-serif;
}
	
}

@media only screen and (min-width: 720px) and (max-width: 959px) {
	

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 30;
  color: #02b9d9;
}
#sss_image {
  z-index: -1;
  opacity: 0.5;
}
#sss_image img{
  width: 100%;
  height:35%;
  margin-top: -15px;
}
#sss_image h2 {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 70px;
  margin-top: -130px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*BUTTON*/
.sss_yardım input{
  margin-top: 20px;
  border-radius: 25px;
  width: 60%;
  height: 30px;
  font-family: 'Nunito',sans-serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sss_yardım input:hover{
  background-color: gainsboro;
}
/*SSS ACORDİON PANEL*/
#accordion_dis{
  width: 80%;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Nunito";
}
.active, .accordion:hover {
  background-color: gainsboro;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  text-align: center;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow:auto;
  transition: max-height 0.2s ease-out;
  font-family: "Nunito",sans-serif;
}
	
}

@media only screen and (min-width: 480px) and (max-width: 719px) {

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 30;
  color: #02b9d9;
}
#sss_image {
  z-index: -1;
  opacity: 0.5;
}
#sss_image img{
  width: 100%;
  height:35%;
  margin-top: -15px;
}
#sss_image h2 {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 70px;
  margin-top: -110px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*BUTTON*/
.sss_yardım input{
  margin-top: 30px;
  border-radius: 25px;
  width: 60%;
  height: 30px;
  font-family: 'Nunito',sans-serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sss_yardım input:hover{
  background-color: gainsboro;
}
/*SSS ACORDİON PANEL*/
#accordion_dis{
  width: 80%;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Nunito";
}
.active, .accordion:hover {
  background-color: gainsboro;
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  text-align: center;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow:auto;
  transition: max-height 0.2s ease-out;
  font-family: "Nunito",sans-serif;
}
	
}

@media only screen and (min-width: 300px) and (max-width: 479px) {

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  font-size: 30;
  color: #02b9d9;
}
#sss_image {
  z-index: -1;
  opacity: 0.5;
}
#sss_image img{
  width: 100%;
  height:150px;
  margin-top: -1rem;
}
#sss_image h2 {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 30px;
  margin-top: -60px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*BUTTON*/
.sss_yardım input{
  margin-top: 10px;
  border-radius: 25px;
  width: 60%;
  height: 40px;
  font-family: 'Nunito',sans-serif;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sss_yardım input:hover{
  background-color: gainsboro;
}

	
}

@media only screen and (max-width: 300px) {

  .scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    font-size: 30;
    color: #02b9d9;
  }
  #sss_image {
    z-index: -1;
    opacity: 0.5;
  }
  #sss_image img{
    width: 100%;
    height:150px;
    margin-top: -1rem;
  }
  #sss_image h2 {
    color: #f1f1f1;
    font-weight: 500;
    font-size: 30px;
    margin-top: -60px;
    text-align: center;
    font-family: "Nunito", sans-serif;
  }
  /*BUTTON*/
  .sss_yardım input{
    margin-top: 10px;
    border-radius: 25px;
    width: 60%;
    height: 40px;
    font-family: 'Nunito',sans-serif;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sss_yardım input:hover{
    background-color: gainsboro;
  }
 
    
  }

